// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #000000;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-cute-animals {
  background-color: $background-color;
  padding: 0;
}

#cute-animal-img {
  width: 100%;
  height: auto;
}
