$background-color:  #2d4471;

.widget-interestings {
  background-color: $background-color;
}

.interestings p {
  text-align: justify;
  padding-right: 20px;
}

.interestings li {
  margin-left: 30px;
}

#nothing {
  text-align: center;
}
